body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    padding: 10px 0 0;
  }
  
  input {
    margin-bottom: 10px;
    padding: 5px;
  }
  
  /* Container for buttons */
  .button-container {
    display: flex;
  }
  
  button {
    padding: 10px;
    cursor: pointer;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
  }
  
  button:hover {
    background-color: #0056b3;
  }

.operation{
    width: 35px;
}  